canvas {
    border: 1px dashed green;
    position: absolute;

}
#newbul{
    margin-left: 800px;
    position: absolute;
}
.gra{
}
.header{
    font-size: 60px;
    text-shadow: 4px 4px 6px rgb(248, 82, 5);
    text-align: center;
}